blue = #33577E
brown = #5B3922

html, body
  width 100%
  font-family "HelveticaNeue-Light", "Lato", sans-serif
  max-height 100vh
 
 body
 	overflow hidden

 a
 	text-decoration none

img
	width 100%
	max-height calc(100vh - 125px - 40px)
	max-width 100vw
	
////////////////
// NAVIGATION //
////////////////

.nav
	height 125px
	width 100%
	position relative
	background-color #fff
	z-index 999
	-webkit-box-shadow 0px 5px 5px 0px rgba(50, 50, 50, .3)
	-moz-box-shadow    0px 5px 5px 0px rgba(50, 50, 50, .3)
	box-shadow         0px 5px 5px 0px rgba(50, 50, 50, .3)

.logo
	height 125px

.logo-container
	margin 0 auto
	font-family "HelveticaNeue-UltraLight"
	margin-top 28px
	span
		text-transform uppercase
		font-size 48px
		color brown
	.last-name
		font-weight: 600

.nav-links
	.active
		border 3px solid blue
		a
			color blue

.nav-list
	list-style none
	text-align right
	margin-top 43px
	li
		display inline-block
		border solid 3px rgba(0,0,0,0)
		a
			padding 10px 25px
			text-transform uppercase
			color #000
			font-size 24px
			&:hover
				text-decoration none
				color blue
		&:hover
			border 3px solid blue
	li:not(:last-child)
		margin-right 7%

.work-nav
	ul
		display none
		text-align center
		padding 0
		// margin-top 10px
		background-color #fff
		width 127px
		position absolute
		margin-left -3px
		padding-top 20px
		li
			text-align center
			border none
			padding 0
			margin-bottom 10px
			a
				padding 5px 15px
				&:hover
					background-color blue
					font-family "HelveticaNeue-UltraLight"
					color #FFF
					font-weight 100
					// padding 5px 15px
			&:hover
				border none
	&:hover ul
		display block
		border 3px solid blue
		border-top none
	&:hover
		border 3px solid blue
	
////////////
// FOOTER //
////////////

.footer
	width 100%
	position fixed
	z-index 999
	bottom 0px
	background-color blue
	height 180px
	margin-bottom -140px
	-webkit-box-shadow 0px -5px 5px 0px rgba(50, 50, 50, 0.3)
	-moz-box-shadow    0px -5px 5px 0px rgba(50, 50, 50, 0.3)
	box-shadow         0px -5px 5px 0px rgba(50, 50, 50, 0.3)

.footer-hidden
	text-align center

.footer-chevron
	color #FFF
	cursor pointer

.footer-up
	bottom 140px
	transition bottom 0.5s ease-in-out
	-webkit-transition bottom 0.5s ease-in-out
	-moz-transition bottom 0.5s ease-in-out
	-o-transition bottom 0.5s ease-in-out
	
.footer-down
	bottom 0px
	transition bottom 0.5s ease-in-out
	-webkit-transition bottom 0.5s ease-in-out
	-moz-transition bottom 0.5s ease-in-out
	-o-transition bottom 0.5s ease-in-out

.footer-chevron-up
	transition transform 0.5s ease-in-out
	-webkit-transition transform 0.5s ease-in-out
	-moz-transition transform 0.5s ease-in-out
	
.footer-chevron-down
	transform rotate(180deg)
	-webkit-transform rotate(180deg)
	-moz-transform rotate(180deg)
	transition transform 0.5s ease-in-out
	-webkit-transition transform 0.5s ease-in-out
	-moz-transition transform 0.5s ease-in-out
	
.social-icons
	text-align center
	list-style none
	width 100%
	padding-left 0
	li
		display inline-block
	li:not(:last-child)
		margin-right 15%
	a
		color #FFF
	a:hover
		color #CCC

.footer-links
	width 100%
	list-style none
	text-align center
	padding-left 0
	li
		display inline-block
		text-transform uppercase
	li:not(:last-child)
		margin-right 8%
		padding-right 8%
		border-right 1px solid #FFF
	a
		color #FFF
		font-size 18px
	a:hover
		color #CCC
		text-decoration none

///////////
// INDEX //
///////////

#home
	background url('/images/home-bg.jpg') no-repeat top left
	background-position (0 -150px)
	position fixed
	width 100%
	height 100vh
	z-index 0

#home-cta
	display inline-block
	width 100%
	margin 0 auto
	text-align center

.button
	position relative
	display inline-block
	
// .button-inner
// 	background-color #FFF
// 	margin 2px
// 	display inline-block
	
// .button-outer
// 	display inline-block
// 	border 8px solid #FFF

// .button a
// 	color #000
// 	text-align center
// 	text-transform uppercase
// 	display block
// 	padding 10px 50px
// 	font-size 24px
// 	&:hover
// 		text-decoration none

// .button:hover
// 	.button-inner
// 		background-color rgba(0,0,0,0)
// 		border 2px solid #FFF
// 		margin 8px
// 	.button-outer
// 		border 2px solid #FFF
// 	a
// 		color #FFF
// 		padding 8px 48px

.button-inner
	background-color rgba(0,0,0,0)
	border 2px solid #FFF
	margin 8px
	display inline-block
.button-outer
	border 2px solid #FFF
	display inline-block
.button a
	color #FFF
	padding 10px 50px
	text-align center
	text-transform uppercase
	display inline-block
	font-size 24px
	letter-spacing 1px
	&:hover
		text-decoration none

.button:hover
	.button-inner
		background-color #FFF
		margin 2px
	.button-outer
		border 8px solid #FFF
	a
		color #000

///////////////////
//               //
//     ABOUT     //
//               //
///////////////////

.about-title
	font-family "Hoefler Text", "HelveticaNeue-Light"
	font-style italic
	font-size 1.6em
	color blue
	text-align center
	h1
		margin-bottom 5px
		margin-top 10px
		
.history-content
	text-align center
	font-size 1.5em
	p
		margin-top 0

.skills-content
	// text-align justify
	justify-content space-around
	img
		// width 100px
		display inline-block
		
.skills-text-hidden
	p



///////////////////////////
//                       //
//     WORK - PHOTO      //
//                       //
///////////////////////////

// For use with full screen slider

// .carousel-control > span
// 	margin-top 100%

// #carousel-work-photo
// 	position fixed
// 	bottom 40px

.work-photo
	margin-top 2%

.slick-prev:before, .slick-next:before
	color #000





