blue = #33577E
brown = #5B3922

html, body
  width 100%
  font-family "HelveticaNeue-Light", "Lato", sans-serif
 
 body
 	overflow hidden

 a
 	text-decoration none

img
	width 100%
	

// NAVIGATION

.nav
	height 125px
	width 100%
	background-color #fff
	z-index 999
	-webkit-box-shadow 0px 5px 5px 0px rgba(0, 0, 0, 1)
	-moz-box-shadow    0px 5px 5px 0px rgba(0, 0, 0, 1)
	box-shadow         0px 5px 5px 0px rgba(0, 0, 0, 1)

.logo
	height 125px

.logo-container
	margin 0 auto
	font-family "HelveticaNeue-UltraLight"
	margin-top 28px
	span
		text-transform uppercase
		font-size 48px
		color brown
	.last-name
		font-weight: 600

.nav-links
	.active
		border 3px solid blue
		a
			color blue

.nav-list
	list-style none
	text-align right
	margin-top 43px
	li
		display inline-block
		border solid 3px #fff
		a
			padding 10px 25px
			text-transform uppercase
			color #000
			font-size 24px
			&:hover
				text-decoration none
				color blue
		&:hover
			border 3px solid blue
	li:not(:last-child)
		margin-right 7%

.work-nav
	ul
		display none
		text-align center
		padding 0
		// margin-top 10px
		background-color #fff
		width 127px
		position absolute
		margin-left -3px
		padding-top 20px
		li
			text-align center
			border none
			padding 0
			margin-bottom 10px
			a
				padding 5px 15px
				&:hover
					background-color blue
					font-family "HelveticaNeue-UltraLight"
					color #FFF
					font-weight 100
					// padding 5px 15px
			&:hover
				border none
	&:hover ul
		display block
		border 3px solid blue
		border-top none
	&:hover
		border 3px solid blue
	

// FOOTER

.footer
	width 100%
	position fixed
	bottom 0px
	background-color blue
	height 180px
	margin-bottom -140px
	-webkit-box-shadow 0px -5px 5px 0px rgba(50, 50, 50, 0.3)
	-moz-box-shadow    0px -5px 5px 0px rgba(50, 50, 50, 0.3)
	box-shadow         0px -5px 5px 0px rgba(50, 50, 50, 0.3)

.footer-hidden
	text-align center

.footer-chevron
	color #FFF
	cursor pointer

.footer-up
	bottom 140px
	transition bottom 0.7s ease-in-out
	-webkit-transition bottom 0.7s ease-in-out
	-moz-transition bottom 0.7s ease-in-out
	-o-transition bottom 0.7s ease-in-out
	
.footer-down
	bottom 0px
	transition bottom 0.7s ease-in-out
	-webkit-transition bottom 0.7s ease-in-out
	-moz-transition bottom 0.7s ease-in-out
	-o-transition bottom 0.7s ease-in-out

.footer-chevron-up
	transition transform 0.7s ease-in-out
	-webkit-transition transform 0.7s ease-in-out
	-moz-transition transform 0.7s ease-in-out
	
.footer-chevron-down
	transform rotate(180deg)
	-webkit-transform rotate(180deg)
	-moz-transform rotate(180deg)
	transition transform 0.7s ease-in-out
	-webkit-transition transform 0.7s ease-in-out
	-moz-transition transform 0.7s ease-in-out
	
.social-icons
	text-align center
	list-style none
	width 100%
	padding-left 0
	li
		display inline-block
	li:not(:last-child)
		margin-right 15%
	a
		color #FFF
	a:hover
		color #CCC

.footer-links
	width 100%
	list-style none
	text-align center
	padding-left 0
	li
		display inline-block
		text-transform uppercase
	li:not(:last-child)
		margin-right 8%
		padding-right 8%
		border-right 1px solid #FFF
	a
		color #FFF
		font-size 18px
	a:hover
		color #CCC
		text-decoration none

// INDEX

#home
	background url('/images/home-bg.jpg') no-repeat top left
	background-position (0 -150px)
	width 100%
	height 100vh
	z-index 0
