extends layout

block content
	main#about
		section#history
			.col-sm-12
				.history-title.about-title: h1 History
			.col-sm-10.col-sm-offset-1
				.history-content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores accusamus totam non veritatis dolore voluptate impedit eveniet quis vero ea culpa ut, est assumenda suscipit, iure numquam aliquid dolorem et.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, nulla. Suscipit consequuntur minima quod eligendi deleniti velit nemo quidem vel tempora natus? Quam totam amet expedita reiciendis, eaque dolor, eius.
		section#skills
			.col-sm-12
				.skills-title.about-title: h1 Skills
			.col-sm-12
				.skills-content
					img(src="http://placehold.it/100x100", alt="")
					img(src="http://placehold.it/100x100", alt="")
					img(src="http://placehold.it/100x100", alt="")
					img(src="http://placehold.it/100x100", alt="")
					img(src="http://placehold.it/100x100", alt="")
					img(src="http://placehold.it/125x100", alt="")
					img(src="http://placehold.it/100x100", alt="")
					img(src="http://placehold.it/100x100", alt="")
			.col-sm-12
				.fa.fa-angle-down.fa-2x
			.col-sm-12
				.skills-text-hidden
					p: <em>HTML5 • CCS3 • Javascript • jQuery • Angular.js • Node.js • MongoDB • Gulp • Sketch 3
					| Express • Backbone.js • Photoshop</em>
