doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Steven Wade | Web Developer &amp; Photographer
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/slick/slick.css")
		link(rel="stylesheet", href="/css/main.css")

	body
		//- block nav
		nav.nav
			.container-fluid
				.col-sm-4.logo
					.logo-container
						| <span class="first-name">Steven</span><span class="last-name">Wade</span>
				.col-sm-7.col-sm-offset-1.nav-links
					ul.nav-list
						li.nav-item: a(href="/") Home
						li.nav-item: a(href="/about") About
						li.nav-item.work-nav
							a(href="/work/web") Work
							ul
								li
									a(href="/work/web") Web
								li
									a(href="/work/photo") Photo
							//- ul.work-nav
							//- 	li: a(href="#") Work
							//- 	li.divider
							//- 	li: a(href="#") Web
							//- 	li: a(href="#") Photo
						li.nav-item: a(href="/contact") Contact

		block content

		//- block footer
		footer.footer
			.row
				.col-sm-12.footer-hidden
					i.fa.fa-angle-double-up.fa-3x.footer-chevron
			.row
				.col-sm-6.col-sm-offset-3
					ul.social-icons
						li: <a href="https://github.com/stevenmwade?tab=repositories", target="_blank"><i class="fa fa-3x fa-github-square"></i></a>
						li: <a href="http://linkedin.com/in/stevenmwade", target="_blank"><i class="fa fa-3x fa-linkedin-square"></i></a>
						li: <a href="http://www.facebook.com/edawleahcilnevets", target="_blank"><i class="fa fa-3x fa-facebook-square"></i></a>
						li: <a href="http://twitter.com/stevenmwade", target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a>
						li: <a href="http://instagram.com/stevenmwade/", target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
			.row
				.col-sm-8.col-sm-offset-2
					ul.footer-links
						li: <a href="#">Home</a>
						li: <a href="#">About</a>
						li: <a href="#">Web</a>
						li: <a href="#">Photo</a>
						li: <a href="#">Contact</a>

		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="/vendor/bootstrap/js/bootstrap.min.js")
		script(src="/vendor/slick/slick.min.js")
		script(src="/js/main.js")
		