doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Steven Wade | Web Developer &amp; Photographer
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/main.css")

	body
		//- block nav
		nav.nav
			.container-fluid
				.col-sm-4.logo
					.logo-container
						| <span class="first-name">Steven</span><span class="last-name">Wade</span>
				.col-sm-7.col-sm-offset-1.nav-links
					ul.nav-list
						li.active: a(href="") Home
						li: a(href="") About
						li: a(href="") Work
						li: a(href="") Contact

		block content

		script(href="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(href="/vendor/bootstrap/js/bootstrap.min.js")
		script(href="/js/main.js")
		