extends layout

block nav
	nav.nav
		.container-fluid
			.col-sm-4.logo
				| <span class="first-name">Steven</span><span class="last-name">Wade</span>
			.col-sm-7.col-sm-offset-1.nav-links
				ul.nav-list
					li.active: a(href="") Home
					li: a(href="") About
					li: a(href="") Work
					li: a(href="") Contact

