html,
body {
  width: 100%;
  font-family: "HelveticaNeue-Light", "Lato", sans-serif;
}
body {
  overflow: hidden;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.nav {
  height: 125px;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 5px 0px #000;
  -moz-box-shadow: 0px 5px 5px 0px #000;
  box-shadow: 0px 5px 5px 0px #000;
}
.logo {
  height: 125px;
}
.logo-container {
  margin: 0 auto;
  font-family: "HelveticaNeue-UltraLight";
  margin-top: 28px;
}
.logo-container span {
  text-transform: uppercase;
  font-size: 48px;
  color: #5b3922;
}
.logo-container .last-name {
  font-weight: 600;
}
.nav-links .active {
  border: 3px solid #33577e;
}
.nav-links .active a {
  color: #33577e;
}
.nav-list {
  list-style: none;
  text-align: right;
  margin-top: 43px;
}
.nav-list li {
  display: inline-block;
  border: solid 3px #fff;
}
.nav-list li a {
  padding: 10px 25px;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
}
.nav-list li a:hover {
  text-decoration: none;
  color: #33577e;
}
.nav-list li:hover {
  border: 3px solid #33577e;
}
.nav-list li:not(:last-child) {
  margin-right: 7%;
}
.work-nav ul {
  display: none;
  text-align: center;
  padding: 0;
  background-color: #fff;
  width: 127px;
  position: absolute;
  margin-left: -3px;
  padding-top: 20px;
}
.work-nav ul li {
  text-align: center;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}
.work-nav ul li a {
  padding: 5px 15px;
}
.work-nav ul li a:hover {
  background-color: #33577e;
  font-family: "HelveticaNeue-UltraLight";
  color: #fff;
  font-weight: 100;
}
.work-nav ul li:hover {
  border: none;
}
.work-nav:hover ul {
  display: block;
  border: 3px solid #33577e;
  border-top: none;
}
.work-nav:hover {
  border: 3px solid #33577e;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #33577e;
  height: 180px;
  margin-bottom: -140px;
  -webkit-box-shadow: 0px -5px 5px 0px rgba(50,50,50,0.3);
  -moz-box-shadow: 0px -5px 5px 0px rgba(50,50,50,0.3);
  box-shadow: 0px -5px 5px 0px rgba(50,50,50,0.3);
}
.footer-hidden {
  text-align: center;
}
.footer-chevron {
  color: #fff;
  cursor: pointer;
}
.footer-up {
  bottom: 140px;
  transition: bottom 0.7s ease-in-out;
  -webkit-transition: bottom 0.7s ease-in-out;
  -moz-transition: bottom 0.7s ease-in-out;
  -o-transition: bottom 0.7s ease-in-out;
}
.footer-down {
  bottom: 0px;
  transition: bottom 0.7s ease-in-out;
  -webkit-transition: bottom 0.7s ease-in-out;
  -moz-transition: bottom 0.7s ease-in-out;
  -o-transition: bottom 0.7s ease-in-out;
}
.footer-chevron-up {
  transition: transform 0.7s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out;
}
.footer-chevron-down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transition: transform 0.7s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out;
}
.social-icons {
  text-align: center;
  list-style: none;
  width: 100%;
  padding-left: 0;
}
.social-icons li {
  display: inline-block;
}
.social-icons li:not(:last-child) {
  margin-right: 15%;
}
.social-icons a {
  color: #fff;
}
.social-icons a:hover {
  color: #ccc;
}
.footer-links {
  width: 100%;
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.footer-links li {
  display: inline-block;
  text-transform: uppercase;
}
.footer-links li:not(:last-child) {
  margin-right: 8%;
  padding-right: 8%;
  border-right: 1px solid #fff;
}
.footer-links a {
  color: #fff;
  font-size: 18px;
}
.footer-links a:hover {
  color: #ccc;
  text-decoration: none;
}
#home {
  background: url("/images/home-bg.jpg") no-repeat top left;
  background-position: 0 -150px;
  width: 100%;
  height: 100vh;
  z-index: 0;
}
