html,
body {
  width: 100%;
  font-family: "HelveticaNeue-Light", "Lato", sans-serif;
}
a {
  text-decoration: none;
}
.nav {
  height: 125px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50,50,50,0.2);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50,50,50,0.2);
  box-shadow: 0px 5px 5px 0px rgba(50,50,50,0.2);
}
.logo {
  height: 125px;
}
.logo-container {
  margin: 0 auto;
  font-family: "HelveticaNeue-UltraLight";
  margin-top: 28px;
}
.logo-container span {
  text-transform: uppercase;
  font-size: 48px;
  color: #5b3922;
}
.logo-container .last-name {
  font-weight: 600;
}
.nav-links .active {
  padding: 5px 20px;
  border: 3px solid #33577e;
}
.nav-links .active a {
  color: #33577e;
}
.nav-list {
  list-style: none;
  text-align: right;
  margin: 35px 0;
}
.nav-list li {
  display: inline-block;
}
.nav-list li:not(:last-child) {
  margin-right: 10%;
}
.nav-list a {
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
}
.nav-list a:hover {
  text-decoration: none;
  color: #33577e;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #33577e;
  height: 180px;
  margin-bottom: -140px;
}
.footer-hidden {
  text-align: center;
}
.footer-chevron {
  color: #fff;
  cursor: pointer;
}
.footer-up {
  bottom: 140px;
  transition: bottom 0.7s ease-in-out;
  -webkit-transition: bottom 0.7s ease-in-out;
  -moz-transition: bottom 0.7s ease-in-out;
  -o-transition: bottom 0.7s ease-in-out;
}
.footer-down {
  bottom: 0px;
  transition: bottom 0.7s ease-in-out;
  -webkit-transition: bottom 0.7s ease-in-out;
  -moz-transition: bottom 0.7s ease-in-out;
  -o-transition: bottom 0.7s ease-in-out;
}
.footer-chevron-up {
  transition: transform 0.7s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out;
}
.footer-chevron-down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transition: transform 0.7s ease-in-out;
  -webkit-transition: transform 0.7s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out;
}
.social-icons {
  text-align: center;
  list-style: none;
  width: 100%;
  padding-left: 0;
}
.social-icons li {
  display: inline-block;
}
.social-icons li:not(:last-child) {
  margin-right: 15%;
}
.social-icons a {
  color: #fff;
}
.social-icons a:hover {
  color: #ccc;
}
.footer-links {
  width: 100%;
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.footer-links li {
  display: inline-block;
  text-transform: uppercase;
}
.footer-links li:not(:last-child) {
  margin-right: 8%;
  padding-right: 8%;
  border-right: 1px solid #fff;
}
.footer-links a {
  color: #fff;
  font-size: 18px;
}
.footer-links a:hover {
  color: #ccc;
  text-decoration: none;
}
